<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp5331CA5F52193D033714FDDF20C463C5" Guid="{9064F926-A941-4D86-96A2-8A4E1B6A7923}">
              <File Id="filCB70EB97061F227F60A18AA79D1F1486" KeyPath="yes" Source="$(var.FileShareService.DesktopClient.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmpE6212E4735B63A5E56062722629C6D86" Guid="{1C64DA96-A1D0-440D-8482-DF3C1B770DE6}">
                <File Id="fil1EEA05DA6AA411D5ABD1C26ADD31C1E5" KeyPath="yes" Source="$(var.FileShareService.DesktopClient.TargetDir)\environments.json" />
            </Component>
            <Component Id="cmp1D69DEFD4118BF25119A85DDB22122EB" Guid="{E9C526B0-33A8-4119-AC3D-813DEF18CDF8}">
                <File Id="fileFSSDesktopClientExe" KeyPath="yes" Source="$(var.FileShareService.DesktopClient.TargetDir)\FileShareService.DesktopClient.exe" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ApplicationFilesComponentGroup">
            <ComponentRef Id="cmp5331CA5F52193D033714FDDF20C463C5" />
            <ComponentRef Id="cmpE6212E4735B63A5E56062722629C6D86" />
            <ComponentRef Id="cmp1D69DEFD4118BF25119A85DDB22122EB" />
        </ComponentGroup>
    </Fragment>
</Wix>